<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout/layout :: head"></head>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="alert alert-success"
          th:if="${success != null}"
          th:text="${success}"
        ></div>
        <div
          class="alert alert-danger"
          th:if="${error != null}"
          th:text="${error}"
        ></div>
        <div
          class="alert alert-warning"
          th:if="${warning != null}"
          th:text="${warning}"
        ></div>
        <div
          class="alert alert-info"
          th:if="${info != null}"
          th:text="${info}"
        ></div>
        <div class="col-12 mt-5">
          <h3 class="text-info">Create a new Client</h3>
          <hr />
          <form th:replace="layout/form :: form"></form>
        </div>
      </div>
      <div class="row ">
        <div class="col-12 mt-5">
          <h1 th:text="${title}"></h1>
          <table th:replace="layout/list :: list"></table>
          <nav th:replace="layout/paginator :: paginator"></nav>
        </div>
      </div>
    </div>

    <footer th:replace="layout/layout :: footer"></footer>
  </body>
</html>
